<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="js//main.js"></script>
    </head>
<body>
    <header>
        <ul class="navbar">
            <li class="logo"><a href="index.html" class="logo-text">RCC</a></li>
            <li class="item"><a href="index.html">Home</a></li>
            <li class="item"><a href="equipment.html">Equipment</a></li>
            <li class="item"><a href="furniture.html">Furniture</a></li>
            <li class="item"><a href="review.html">Review</a></li>
            <li class="item primary"><a href="basket.html" >Cart</a></li>
            <li class="item primary"><a href="package.html">Packages</a></li>
            <li class="toggle">
                <i class='bx bx-menu ' id="menu-icon"></i>
            </li>
        </ul>
    </header>
    <div class="basket-page">
    <div class="basket-head">
      Shopping Cart
    </div>
    <div class="box-container2">
    <div class="box">
        
        <img src="img/Yellow-tent.jpg" class="cart-img" alt="Pink-tent">
        <h3>Pink-tent</h3>
        <span>$100</span><br><br>
        <a href="equipment.html" class="remove-btn">Remove</a>
    </div>

    <div class="box">
        
        <img src="img/bag-1.jpg" class="cart-img" alt="Big bag">
        <h3>Big bag</h3>
        <span>$50</span><br><br>
        <a href="equipment.html" class="remove-btn">Remove</a>
    </div>

    <div class="box">
        
        <img src="img/chair-3.jpg" class="cart-img" alt="Portable Chair">
        <h3>Portable Chair</h3>
        <span>$60</span><br><br>
        <a href="equipment.html" class="remove-btn">Remove</a>
    </div>

    <div class="box">
        
        <img src="img/sleep-bag-2.jpg" class="cart-img" alt="Sleeping bag">
        <h3>Sleeping bag</h3>
        <span>$110</span><br><br>
        <a href="equipment.html" class="remove-btn">Remove</a>
    </div>

</div>
    </div>
    <div class="cart-total-container">
        <h3>Total Amount of your cart</h3>
    <div class="cart-section">
        <div class="total">
            <p>Subtotal</p>
            <p>$320</p>
        </div>
        <div class="total">
            <p>Shipping</p>
            <p>$50</p>
        </div>
        <div class="total">
            <p>Total</p>
            <p>$370</p>
        </div>
        
    </div>
    <div class="checkout"> <button class="checkout_btn">Check </button></div>
    </div>
     <!-- start footer -->
     <footer class="footer-page">
        <div class="footer-main">
            <div class="footer-container">
                <!-- Nav -->
                <div class="col-footer">
                    <h3>RCC</h3>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="equipment.html">Equipment</a></li>
                        <li><a href="furniture.html">Furniture</a></li>
                        <li><a href="review.html">Review</a></li>
                        <li><a href="basket.html">Basket</a></li>
                        <li><a href="package.html">Package</a></li>
                    </ul>
                </div>
                
                <div class="col-footer">
                    <h3>Products</h3>
                    <ul class="footer-list">
                        <li><a href="equipment.html">Tent</a></li>
                        <li><a href="equipment.html">Backpack</a></li>
                        <li><a href="furniture.html">Chair</a></li>
                        <li><a href="furniture.html">Table</a></li>
                    </ul>
                </div>
                
                <div class="col-footer">
                    <h3>Contact Us</h3>
                    <ul class="footer-list">
                        
                        <li>RCCcompany@gmail.com</li>
                        <li>09689500838</li>
                    </ul>
                </div>
            </div>

            <div class="footer-second">
                <div class="footerSecond-col1">
                    <!-- Links -->
                    <ul>
                        <li class="footer-item">
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class='bx bxl-facebook icon'></i>
                            </a>
                        </li>
                        <li class="footer-item">
                            <a href="https://mail.google.com/mail/u/0/">
                                <i class='bx bxl-gmail icon'></i>
                            </a>
                        </li>
                        <li class="footer-item">
                            <a href="https://www.youtube.com/">
                                <i class='bx bxl-youtube icon'></i>
                            </a>
                        </li>
                        <li class="footer-item">
                            <a href="https://twitter.com/">
                                <i class='bx bxl-twitter icon'></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>
    <!-- close footer -->

    
</body>
</html>