<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js//main.js"></script>
</head>
 <body>
    <header>
        <ul class="navbar">
            <li class="logo"><a href="index.html" class="logo-text">RCC</a></li>
            <li class="item"><a href="index.html">Home</a></li>
            <li class="item"><a href="equipment.html">Equipment</a></li>
            <li class="item"><a href="furniture.html">Furniture</a></li>
            <li class="item"><a href="review.html">Review</a></li>
            <li class="item primary"><a href="basket.html" >Cart</a></li>
            <li class="item primary"><a href="package.html">Packages</a></li>
            <li class="toggle">
                <i class='bx bx-menu ' id="menu-icon"></i>
            </li>
        </ul>
    </header>
    <div class="search_wrap  first-section">
        <div class="search_box">
            <input type="text" class="input" placeholder="search...">
            <div class="btn btn_common">
                <i class='bx bx-search'></i>
              
            </div>
        </div>
    </div>
    
    <!-- Latest furniture -->
    <section>
        <h3 class="sub-heading">Latest Products</h3>
        <h1 class="heading">Furniture</h1>

        <div class="box-container">
            <!-- Box -->
            <div class="box">
        
                <img src="img/camp-table-1.jpg" class="cart-img" alt="Table">
                <h3>Table</h3>
                <span>$100</span><br><br>
                <a href="equipment.html" class="btn cart-btn">Buy now</a>
            </div>
            <div class="box">
                
                <img src="img/chair-1.jpg" class="cart-img" alt="Green Chair">
                <h3>Green Chair</h3>
                <span>$50</span><br><br>
                <a href="equipment.html" class="btn cart-btn">Buy now</a>
            </div>
            <div class="box">
                
                <img src="img/hammock-1.jpg" class="cart-img" alt="Hammock">
                <h3>Hammock</h3>
                <span>$70</span><br><br>
                <a href="equipment.html" class="btn cart-btn">Buy now</a>
            </div>
        </div>
    </section>

    <section class="first-section" >
        <h3 class="sub-heading">Latest Products</h3>
        <h1 class="heading">Furniture</h1>

        <div class="box-container">
            <!-- Box -->
            <div class="box">
        
                <img src="img/camp-table-1.jpg" class="cart-img" alt="Table">
                <h3>Table</h3>
                <span>$100</span><br><br>
                <a href="equipment.html" class="btn cart-btn">Buy now</a>
            </div>
            <div class="box">
        
                <img src="img/camp-table-2.jpg" class="cart-img" alt="Green Table">
                <h3>Green table</h3>
                <span>$90</span><br><br>
                <a href="equipment.html" class="btn cart-btn">Buy now</a>
            </div>
            <div class="box">
                
                <img src="img/chair-1.jpg" class="cart-img" alt="Green Chair">
                <h3>Green Chair</h3>
                <span>$50</span><br><br>
                <a href="equipment.html" class="btn cart-btn">Buy now</a>
            </div>
            <div class="box">
                
                <img src="img/chair-3.jpg" class="cart-img" alt="Portable Chair">
                <h3>Portable Chair</h3>
                <span>$60</span><br><br>
                <a href="equipment.html" class="btn cart-btn">Buy now</a>
            </div>
            <div class="box">
                
                <img src="img/hammock-1.jpg" class="cart-img" alt="Hammock">
                <h3>Hammock</h3>
                <span>$70</span><br><br>
                <a href="equipment.html" class="btn cart-btn">Buy now</a>
            </div>
            <div class="box">
                
                <img src="img/hammock-2.jpg" class="cart-img" alt="Big hammock">
                <h3>Big hammock</h3>
                <span>$80</span><br><br>
                <a href="equipment.html" class="btn cart-btn">Buy now</a>
            </div>
        </div>
    </section>
    <div class="media-section">
        <p>Camping Furniture Ideas</p>
        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/_Aruc_-qjOI" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>     
        </div>
       
    </div>
   
     <!-- start footer -->
     <footer class="footer-page">
        <div class="footer-main">
            <div class="footer-container">
                <!-- Nav -->
                <div class="col-footer">
                    <h3>RCC</h3>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="equipment.html">Equipment</a></li>
                        <li><a href="furniture.html">Furniture</a></li>
                        <li><a href="review.html">Review</a></li>
                        <li><a href="basket.html">Basket</a></li>
                        <li><a href="package.html">Package</a></li>
                    </ul>
                </div>
                
                <div class="col-footer">
                    <h3>Products</h3>
                    <ul class="footer-list">
                        <li><a href="equipment.html">Tent</a></li>
                        <li><a href="equipment.html">Backpack</a></li>
                        <li><a href="furniture.html">Chair</a></li>
                        <li><a href="furniture.html">Table</a></li>
                    </ul>
                </div>
                
                <div class="col-footer">
                    <h3>Contact Us</h3>
                    <ul class="footer-list">
                        
                        <li>RCCcompany@gmail.com</li>
                        <li>09689500838</li>
                    </ul>
                </div>
            </div>

            <div class="footer-second">
                <div class="footerSecond-col1">
                    <!-- Links -->
                    <ul>
                        <li class="footer-item">
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class='bx bxl-facebook icon'></i>
                            </a>
                        </li>
                        <li class="footer-item">
                            <a href="https://mail.google.com/mail/u/0/">
                                <i class='bx bxl-gmail icon'></i>
                            </a>
                        </li>
                        <li class="footer-item">
                            <a href="https://www.youtube.com/">
                                <i class='bx bxl-youtube icon'></i>
                            </a>
                        </li>
                        <li class="footer-item">
                            <a href="https://twitter.com/">
                                <i class='bx bxl-twitter icon'></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>
    <!-- close footer -->
 </body>
 </html>
 