{% load static %}
<div class="box-container">
    
    {%for item in items %}
    <div class="box">
            <a href="{% url "item_detail" item.slug %}"><img src="{{item.image.url}}" class="cart-img" alt="items.itemName"></a> <br><br>
            <a href="{% url "item_detail" item.slug %}"> <h3>{{item.itemName}}</h3></a>
            <span>${{item.price}}</span><br>
            <p>Category: <a href="?category={{ item.itemCategory }}"> {{item.itemCategory}} </a></p>  
    </div>
    {%endfor%}
</div>