<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Rcc &nbsp; Package</title>
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="js//main.js"></script>
    </head>
<body>
    <header>
        <ul class="navbar">
            <li class="logo"><a href="index.html" class="logo-text">RCC</a></li>
            <li class="item"><a href="index.html">Home</a></li>
            <li class="item"><a href="equipment.html">Equipment</a></li>
            <li class="item"><a href="furniture.html">Furniture</a></li>
            <li class="item"><a href="review.html">Review</a></li>
            <li class="item primary"><a href="basket.html" >Cart</a></li>
            <li class="item primary"><a href="package.html">Packages</a></li>
            <li class="toggle">
                <i class='bx bx-menu ' id="menu-icon"></i>
            </li>
        </ul>
    </header>
    <div class="package-main-container">
    <div class="package-container3">
        <div class="title">
        <h5 class="package_font">
             Most Popular
        </h5>
        </div>

        <div class="box-container_package">
            
            <div class="box">
        
                <img src="img/light-green-tent.jpg" class="cart-img" alt="Backpack">
                <h3>LIght Green Tent</h3>
                <!-- <span>$200(20%OFF)</span> --><br><br>
                <!-- <a href="equipment.html" class="btn">Buy</a> -->
            </div>

            <div class="box">
        
                <img src="img/shoe-3.jpg" class="cart-img" alt="Hiking-Boots">
                <h3>Hiking Boots</h3>
                <br><br>
                
            </div>
            
            <div class="box">
        
                <img src="img/binocular-1.jpg" class="cart-img" alt="Tent">
                <h3>Binocular</h3>
                <br><br>
                
            </div>

    </div>
    </div>


    <div class="package-container2">
        <div class="title">
            <h5> Package</h5>
        </div>
        <div class="box-container">
            <div class="box">
        
                <img src="img/package.jpg" class="cart-img" alt="Package-1">
                <h3>Package-1</h3>
                <span>$700</span><br><br>
                <a href="equipment.html" class="btn">Buy</a>
            </div>

            <div class="box">
        
                <img src="img/package-2.jpg" class="cart-img" alt="package-2">
                <h3>Package-2</h3>
                <span>$500</span><br><br>
                <a href="equipment.html" class="btn">Buy</a>
            </div>
            
            <div class="box">
        
                <img src="img/package3.jpg" class="cart-img" alt="Package-3">
                <h3>Package-3</h3>
                <span>$1000</span><br><br>
                <a href="equipment.html" class="btn">Buy</a>
            </div>
            
            

        </div>

    </div>
</div>
<div class="media-section">
    <p>Camping gear</p>
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1kOold9LzFg" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>     
    </div>
   
</div>
    
     <!-- start footer -->
     <footer class="footer-page">
        <div class="footer-main">
            <div class="footer-container">
                <!-- Nav -->
                <div class="col-footer">
                    <h3>RCC</h3>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="equipment.html">Equipment</a></li>
                        <li><a href="furniture.html">Furniture</a></li>
                        <li><a href="review.html">Review</a></li>
                        <li><a href="basket.html">Basket</a></li>
                        <li><a href="package.html">Package</a></li>
                    </ul>
                </div>
                
                <div class="col-footer">
                    <h3>Products</h3>
                    <ul class="footer-list">
                        <li><a href="equipment.html">Tent</a></li>
                        <li><a href="equipment.html">Backpack</a></li>
                        <li><a href="furniture.html">Chair</a></li>
                        <li><a href="furniture.html">Table</a></li>
                    </ul>
                </div>
                
                <div class="col-footer">
                    <h3>Contact Us</h3>
                    <ul class="footer-list">
                        
                        <li>RCCcompany@gmail.com</li>
                        <li>09689500838</li>
                    </ul>
                </div>
            </div>

            <div class="footer-second">
                <div class="footerSecond-col1">
                    <!-- Links -->
                    <ul>
                        <li class="footer-item">
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class='bx bxl-facebook icon'></i>
                            </a>
                        </li>
                        <li class="footer-item">
                            <a href="https://mail.google.com/mail/u/0/">
                                <i class='bx bxl-gmail icon'></i>
                            </a>
                        </li>
                        <li class="footer-item">
                            <a href="https://www.youtube.com/">
                                <i class='bx bxl-youtube icon'></i>
                            </a>
                        </li>
                        <li class="footer-item">
                            <a href="https://twitter.com/">
                                <i class='bx bxl-twitter icon'></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>
    <!-- close footer -->
</body>
</html>